
@model MovieZone.ViewModels.MoviesListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var defaultValue = Model.Genres.Single(g => g.Id == Model.GenreFilter).Name;
}

<h2>Movies</h2>

@using (Html.BeginForm(new { pageSize = Model.PageSize, sort = Model.Sort, genreFilter = Model.GenreFilter, ascending = Model.Ascending }))
{
    <div>
        @Html.LabelFor(m => m.GenreFilter)
        @Html.DropDownListFor(m => m.GenreFilter, new SelectList(Model.Genres, "Id", "Name"), new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(m => m.Sort)
        @Html.DropDownListFor(m => m.Sort, new SelectList(Enum.GetNames(Model.Sort.GetType()), Model.Sort), "All genres", new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(m => m.Ascending)
        @Html.DropDownListFor(m => m.Ascending, new SelectList(new[] { new { Val = false, Text = "descending" }, new { Val = true, Text = "ascending" } }, "Val", "Text"), new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(m => m.PageSize)
        @Html.DropDownListFor(m => m.PageSize, new SelectList(new int[] { 5, 10, 20, 40 }), new { @class = "form-control" })
    </div>
    <button type="submit">APPLY</button>
}

@foreach (var movie in Model.Movies)
{
    <h2>@movie.Title</h2>
    <p>@movie.ReleaseYear</p>
    <p>@movie.DurationInMinutes</p>
    <p>@movie.Director.Name</p>
    <p>@movie.RatingAvg</p>
    <p>@movie.Genre.Name</p>
}

<table>
    <tr>
        @for (var i = 1; i <= Model.PageCount; i++)
        {
            <td width="15" height="15">
                @Html.ActionLink(i.ToString(), "Index", "Movies", new { pageNum = i }, null)
            </td>
        }

    </tr>
</table>
