@model MovieZone.ViewModels.SubmissionsViewModel
@{
    ViewBag.Title = "Submissions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Submissions</h2>

@foreach (var submission in Model.DirectorSubmissions)
{
    <div>
        <h4 class="text-secondary">@Model.SubmissionType(submission.DirectorId)</h4>
        <h6>@submission.Name</h6>
        <p>@submission.Bio</p>
        <div>
            @Html.ActionLink("ACCEPT", "Accept", "DirectorSubmissions", new { submissionId = submission.SubmissionId }, new { @class = "btn btn-success" });
            @Html.ActionLink("REJECT", "Reject", "DirectorSubmissions", new { submissionId = submission.SubmissionId }, new { @class = "btn btn-danger" });
        </div>
    </div>
}

@foreach (var submission in Model.MovieSubmissions)
{
    <div>
        <h4 class="text-secondary">@Model.SubmissionType(submission.MovieId)</h4>
        <h6>@submission.Title</h6>
        <p>@submission.ReleaseYear</p>
        <p>@submission.DurationInMinutes</p>
        <p>@submission.Director.Name</p>
        @foreach (var genre in submission.Genres)
        {
            @genre.Name
        }
        <div>
            @Html.ActionLink("ACCEPT", "Accept", "MovieSubmissions", new { submissionId = submission.SubmissionId }, new { @class = "btn btn-success" });
            @Html.ActionLink("REJECT", "Reject", "MovieSubmissions", new { submissionId = submission.SubmissionId }, new { @class = "btn btn-danger" });
        </div>
    </div>
}

<table>
    <tr>
        @for (var i = 1; i <= Model.PageCount; i++)
        {
            <td width="15" height="15">
                @Html.ActionLink(i.ToString(), "Submissions", "User", new { pageNum = i }, new { @class = "btn btn-primary" })
            </td>
        }

    </tr>
</table>



